.fix-ddd{
    width: 50%;
}

/*Faz com que a label dentro do 
fieldset fique sem margem superior
para não ficar distante*/
.fix-fielset-label{
    padding-top: 0em;
}

/*Controla as input que estão
dentro da tabela para que
elas se comportem junto dos
ordenadores*/
.table input{
    margin-bottom: 0px;
    padding: 0px;
}

.fix-panel-footer{
    padding-top: 0.1em;
    padding-bottom: 10px;
}

/*Fix-panel-body utilizado para zerar a margin superior dos paineis*/
.fix-panel-body{
    padding-top: 0px;
}

/*.img-fix{
    width: 90%;
    margin-left: 1em;
}
.img-fix-tela-inicial{
    width: 95%;
}*/

/*==================================
Utilizadas para zerar margens com erros*/
@media (min-width: 640px){
    .min-640px-zerar-padding-top{
        padding-top: 0px;
    }
    .min-640px-zerar-padding-botton{
        padding-bottom: 0px;
    }

    .min-640px-zerar-margin-top{
        margin-top: 0px;
    }

    .min-640px-zerar-margin-botton{
        margin-bottom: 0px;
    }
}
@media (max-width: 640px){
    .max-640px-zerar-padding-top{
        padding-top: 0px;
    }

    .max-640px-zerar-padding-botton{
        padding-bottom: 0px;
    }

    .max-640px-zerar-margin-top{
        margin-top: 0px;
    }

    .max-640px-zerar-margin-botton{
        margin-bottom: 0px;
    }
}

/*Padrão para todos as telas*/
.zerar-padding-top{
    padding-top: 0px;
}

.zerar-padding-botton{
    padding-bottom: 0px;
}

.zerar-margin-top{
    margin-top: 0px;
}

.zerar-margin-botton{
    margin-bottom: 0px;
}
/*Utilizadas para zerar margens com erros
=======================================*/

/*Utilizado para ajustar os botões
superiores nas tabelas junto das tablas*/
@media (min-width: 640px){
    .min-640px-ctrl-padding-right{
        padding-right: 1em;
    }
}
@media (max-width: 640px){
    .max-640px-ctrl-padding-right{
        padding-right: 1em;
    }
}


#tabela_length{
    display: none;
}


@media (min-width: 640px){
    /*padding*/
    .min-640px-padding-top-0em{
        padding-top: 0em;
    }
    .min-640px-padding-top-1em{
        padding-top: 1em;
    }
    .min-640px-padding-top-2em{
        padding-top: 2em;
    }
    .min-640px-padding-top-3em{
        padding-top: 3em;
    }
    .min-640px-padding-top-4em{
        padding-top: 4em;
    }
    .min-640px-padding-top-5em{
        padding-top: 5em;
    }

    /*margin*/
    .min-640px-margin-top-0em{
        margin-top: 0em;
    }
    .min-640px-margin-top-1em{
        margin-top: 1em;
    }
    .min-640px-margin-top-2em{
        margin-top: 2em;
    }
    .min-640px-margin-top-3em{
        margin-top: 3em;
    }
    .min-640px-margin-top-4em{
        margin-top: 4em;
    }
    .min-640px-margin-top-5em{
        margin-top: 5em;
    }
}
@media (max-width: 640px){
    /*padding*/
    .max-640px-padding-top-0em{
        padding-top: 0em;
    }
    .max-640px-padding-top-1em{
        padding-top: 1em;
    }
    .max-640px-padding-top-2em{
        padding-top: 2em;
    }
    .max-640px-padding-top-3em{
        padding-top: 3em;
    }
    .max-640px-padding-top-4em{
        padding-top: 4em;
    }
    .max-640px-padding-top-5em{
        padding-top: 5em;
    }

    /*margin*/
    .max-640px-margin-top-0em{
        margin-top: 0em;
    }
    .max-640px-margin-top-1em{
        margin-top: 1em;
    }
    .max-640px-margin-top-2em{
        margin-top: 2em;
    }
    .max-640px-margin-top-3em{
        margin-top: 3em;
    }
    .max-640px-margin-top-4em{
        margin-top: 4em;
    }
    .max-640px-margin-top-5em{
        margin-top: 5em;
    }
}

/*Para todas as telas*/
/*padding*/
.padding-top-0em{
    padding-top: 0em;
}
.padding-top-1em{
    padding-top: 1em;
}
.padding-top-2em{
    padding-top: 2em;
}
.padding-top-3em{
    padding-top: 3em;
}
.padding-top-4em{
    padding-top: 4em;
}
.padding-top-5em{
    padding-top: 5em;
}

/*margin*/
.margin-top-0em{
    margin-top: 0em;
}
.margin-top-1em{
    margin-top: 1em;
}
.margin-top-2em{
    margin-top: 2em;
}
.margin-top-3em{
    margin-top: 3em;
}
.margin-top-4em{
    margin-top: 4em;
}
.margin-top-5em{
    margin-top: 5em;
}

*{
    font-family: "Consolas";
}